body{
    display: flex;
    align-items: flex-start;
}



.blue {
    padding: 100px;
    background-color: blue;

}
.yo {
    padding: 50px;
    background-color: yellow;
    margin: 10px;
}
.red {
    padding-right: 170px;
    background-color: red;
}

.flex{
    display: flex;
}